In [3]:
#load raw data file
airbus_df = pd.read_csv(r"../data/raw/AIDS_REPORTS AirBus.csv")
boeings_df = pd.read_csv(r"../data/raw/AIDS_REPORTS Boeings.csv")
md11_df = pd.read_csv(r"../data/raw/AIDS_REPORTS MD_11.csv")

In [4]:
#filter for ups
airbus_ups = airbus_df[airbus_df['Operator'] == "UNITED PARCEL SERVICE CO"]
boeings_ups = boeings_df[boeings_df['Operator'] == "UNITED PARCEL SERVICE CO"]
md11_ups = md11_df[md11_df['Operator'] == "UNITED PARCEL SERVICE CO"]

In [5]:
airbus_ups["AircraftType"] = "Airbus"
boeings_ups["AircraftType"] = "Boeing"
md11_ups["AircraftType"] = "MD-11"

C:\Users\moonw\AppData\Local\Temp\ipykernel_30740\3685360566.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbus_ups["AircraftType"] = "Airbus"
C:\Users\moonw\AppData\Local\Temp\ipykernel_30740\3685360566.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  boeings_ups["AircraftType"] = "Boeing"
C:\Users\moonw\AppData\Local\Temp\ipykernel_30740\3685360566.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  md11_ups["AircraftType"] = "MD-11"

In [6]:
#combined
combined_df = pd.concat([airbus_ups, boeings_ups, md11_ups], ignore_index=True)

In [7]:
# Drop columns that are empty or irrelevant
columns_to_drop = [' ', ' .1']
combined_df.drop(columns=columns_to_drop, axis=1, inplace=True, errors='ignore')

In [24]:
combined_df.to_csv("../data/processed/UPS_Incidents_Cleaned.csv", index=False)

In [11]:
combined_df.head()

,AIDS Report Number,Local Event Date,Event City,Event State,Event Airport,Event Type,Aircraft Damage,Flight Phase,Aircraft Make,Aircraft Model,...,Total Fatalities,Total Injuries,Aircraft Engine Make,Aircraft Engine Model,Engine Group Code,Nbr of Engines,PIC Certificate Type,PIC Flight Time Total Hrs,PIC Flight Time Total Make-Model,AircraftType
0,20010608013749I,08-JUN-01,NEWARK,NJ,NEWARK LIBERTY INTL,INCIDENT,MINOR,LEVEL OFF TOUCHDOWN,AIRBUS,A300,...,0,0,PWA,PW4158,4158,2.0,NaN,NaN,NaN,Airbus
1,20080516833729I,16-MAY-08,OMAHA,NE,EPPLEY AIRFIELD,INCIDENT,NONE,NORMAL CRUISE,AIRBUS,A300,...,0,0,PWA,PW4158,4158,2.0,NaN,0.0,0.0,Airbus
2,20090316002799I,16-MAR-09,ALBUQUERQUE,NM,ALBUQUERQUE INTL SUNPORT,INCIDENT,MINOR,LANDING,AIRBUS,A300,...,0,0,NaN,NaN,NaN,2.0,NaN,0.0,0.0,Airbus
3,20090318002549I,18-MAR-09,LOUISVILLE,KY,LOUISVILLE INTL-STANDIFORD FIELD,INCIDENT,MINOR,OTHER-SPECIFY,AIRBUS,A300,...,0,0,PWA,PW4158,4158,2.0,NaN,0.0,0.0,Airbus
4,20120822020209I,22-AUG-12,LOUISVILLE,KY,LOUISVILLE INTL-STANDIFORD FIELD,INCIDENT,MINOR,DESCENT,AIRBUS,A300,...,0,0,P & W,PW4158,NaN,NaN,NaN,NaN,NaN,Airbus

In [12]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   AIDS Report Number                85 non-null     object
 1   Local Event Date                  85 non-null     object
 2   Event City                        83 non-null     object
 3   Event State                       83 non-null     object
 4   Event Airport                     79 non-null     object
 5   Event Type                        83 non-null     object
 6   Aircraft Damage                   56 non-null     object
 7   Flight Phase                      83 non-null     object
 8   Aircraft Make                     85 non-null     object
 9   Aircraft Model                    85 non-null     object
 10  Aircraft Series                   85 non-null     object
 11  Operator                          85 non-null     object
 12  Primary Flight Type               63 non-null     object
 13  Flight Conduct Code               85 non-null     object
 14  Flight Plan Filed Code            65 non-null     object
 15  Aircraft Registration Nbr         85 non-null     object
 16  Total Fatalities                  85 non-null     int64
 17  Total Injuries                    85 non-null     int64
 18  Aircraft Engine Make              38 non-null     object
 19  Aircraft Engine Model             38 non-null     object
 20  Engine Group Code                 23 non-null     object
 21  Nbr of Engines                    65 non-null     float64
 22  PIC Certificate Type              56 non-null     object
 23  PIC Flight Time Total Hrs         41 non-null     float64
 24  PIC Flight Time Total Make-Model  40 non-null     float64
 25  AircraftType                      85 non-null     object
dtypes: float64(3), int64(2), object(21)
memory usage: 17.4+ KB

In [14]:
combined_df.dtypes

AIDS Report Number                   object
Local Event Date                     object
Event City                           object
Event State                          object
Event Airport                        object
Event Type                           object
Aircraft Damage                      object
Flight Phase                         object
Aircraft Make                        object
Aircraft Model                       object
Aircraft Series                      object
Operator                             object
Primary Flight Type                  object
Flight Conduct Code                  object
Flight Plan Filed Code               object
Aircraft Registration Nbr            object
Total Fatalities                      int64
Total Injuries                        int64
Aircraft Engine Make                 object
Aircraft Engine Model                object
Engine Group Code                    object
Nbr of Engines                      float64
PIC Certificate Type                 object
PIC Flight Time Total Hrs           float64
PIC Flight Time Total Make-Model    float64
AircraftType                         object
dtype: object

In [21]:
missing_percent = (combined_df.isnull().mean() * 100).round(2).sort_values(ascending=False)
missing_percent

Engine Group Code                   72.94
Aircraft Engine Make                55.29
Aircraft Engine Model               55.29
PIC Flight Time Total Make-Model    52.94
PIC Flight Time Total Hrs           51.76
PIC Certificate Type                34.12
Aircraft Damage                     34.12
Primary Flight Type                 25.88
Flight Plan Filed Code              23.53
Nbr of Engines                      23.53
Event Airport                        7.06
Event State                          2.35
Flight Phase                         2.35
Event Type                           2.35
Event City                           2.35
Aircraft Make                        0.00
AIDS Report Number                   0.00
Local Event Date                     0.00
Aircraft Model                       0.00
Total Fatalities                     0.00
Total Injuries                       0.00
Flight Conduct Code                  0.00
Aircraft Series                      0.00
Operator                             0.00
Aircraft Registration Nbr            0.00
AircraftType                         0.00
dtype: float64

In [17]:
drop = [
    'Engine Group Code',
    'Aircraft Engine Make',
    'Aircraft Engine Model',
    'Aircraft Series',     # not needed       
    'Aircraft Registration Nbr'   #  not needed
]

In [18]:
df_cleaned = combined_df.drop(columns=drop)
print("Before: ", combined_df.shape)
print("After: ", df_cleaned.shape)

Before:  (85, 26)
After:  (85, 21)